* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;  
    background-image: url(assets/wall.jpg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    background-color: #464646;
}

.slider-track{
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;  
    overflow: hidden; 
    /* border: 10px solid #fff; */
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
}

.dots {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 12px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .6s ease;
    background-color: #fff;
}

.dots:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.dots::after {
    content: " ";
    position: absolute;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

/* .dots:checked {
    background: rgba(0, 0, 0, 0);
    border: 5px solid #000000;
} */

input[name="picture"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 90%;
    border-radius: 20px; 
}

#first:checked ~ .numb1 {
    margin-left: 0;
}

#second:checked ~ .numb1 {
    margin-left: -25%;
}

#third:checked ~ .numb1 {
    margin-left: -50%;
}

#fourth:checked ~ .numb1 {
    margin-left: -75%;
}