* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;  
    background-image: url(assets/1671521741.jpg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    background-color: #464646;
}

.main{
    max-width: 1920px;
    
}